footer {
    background-color: rgb(23, 171, 179);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    gap: 10px;
    margin: 0;
    
}

#logo img {
    width: 40px;
    height: 40px;
}

#logo {
    display: flex;
    gap: 20px;
    margin: auto;
}

footer img:hover {
    opacity: 0.6;
}