main {
    display: flex;
}



#left {
    flex: 1;
    width: 30%;
    background-color: rgb(127, 127, 127, 0.1);
    padding-left: 50px;
}

.skills {
    width: 200px;
}
.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;

}

.starfilled {
    color: rgb(23, 171, 179);
}
.star {
    color: white;
}

.languages {
    width: 200px;
}

.langue {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.french, .spanish, .english {
    font-weight: bold;
}



#right {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: white;
    padding-left: 50px;
}

#left hr {
    width: 200px;
    margin: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;        
    padding-left: 1rem;
    font-size: 0.9rem;      
}

ul li {
    position: relative;      
    padding-left: 1.2rem;    
}

ul li::before {
    content: "";             
    position: absolute;
    top: 0.2rem;              
    left: 0;
    width: 8px;
    height: 8px;
    background: rgb(23, 171, 179);        
}



#right hr {
    width: 750px;
    margin-right: 60px;
}

h2 {
    margin-bottom: 5px;
    color: rgb(23, 171, 179);
}

.formation {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 50px;
    line-height: 0.3;
    margin-bottom: 5px;
    padding: 10px 0;
    padding-left: 5px;
}


.formationtype {
    font-size: 0.9rem;
}

.date {
    margin-top: 15px;
    color: rgb(23, 171, 179);
}

.work {
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 50px;
    line-height: 0.3;
    margin-bottom: 5px;
    padding: 10px 0;
    padding-left: 5px;
}


.worktype {
    font-size: 0.9rem;
}

.workdate {
    margin-top: 15px;
    color: rgb(23, 171, 179);
}

.profil p {
    text-align: justify;
    width: 700px;
    font-weight: normal;
    margin-bottom: 0;
}

.formation:hover,
.work:hover {
    border-left: 4px solid rgb(23, 171, 179);
    background-color: rgb(127, 127, 127, 0.3);

}

